<div class="container">
      <h1 class="text-center">Burger Eater!</h1>
    <img src="/assets/burger.png" class="pic" alt="Burger" />
  

    <div class="row">
   <div class="col">
   <h2>Eat These Burgers!</h2>
<ul id="eatOne">
  {{#each burgers}}
    {{#unless this.devoured}}
  <li>
	{{this.burger_name}}

	<button class="change-eat btn btn-primary" value={{this.id}} data-id={{this.id}}>
    Devour It!
	</button>

</li>
    {{/unless}}
  {{/each}}

</ul>
</div>

<div class="col">
<h2>Burgers devoured!</h2>

 <ul id="eatTwo">
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{this.burger_name}}
        	<button class="again btn btn-primary" value={{this.id}} data-id={{this.id}}>
    ANOTHER!
      </li>
        {{/if}}
        {{/each}}
</ul>
</div>
</div>

<div class="make" align="center">
<h2 class="add">Order a burger!</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burger">order here!:</label>
    <input type="text" id="burger" name="name" placeholder="burger names">
  </div>

<div class="button">
  <button class="btn btn-primary" align="center" type="submit">Add a burger!</button>
</div>
